html {
    font-size: 11pt;
    letter-spacing: -0.032rem;
    min-width: 480px;
    margin:0;
    padding:0;
    overflow:hidden;
}

html, body {
    font-family: Rubik!important;
    font-weight: 300;
    background: rgb(24, 24, 20);
}

h1, h2, h3, h4, h5, h6, p {
    cursor:default;
}

h1 {
    font-family: Bebas!important;
    letter-spacing: -0.08rem;
    word-spacing: 0.5rem;
    font-size:1.8rem;
}

h2 {
    font-family: Bebas!important;
    letter-spacing: -0.04rem;
    word-spacing: 0.2rem;
    font-size:1.4rem;
}

h3, h4, h5, h6 {
    font-family: Rubik!important;
    font-weight: 300;
}

table {
    margin:0;
}

tbody {
    background-color: transparent;
}

table.full {
    width: 100%;
}

table.fixed thead {
    width:100%;
    position: fixed;
    background:rgba(0,0,0,0.64);
    z-index:2;
}

th h2 {
    margin-top:8px;
}

tr h4 {
    margin: 2px 0 0;
}

tr h5, tr h6 {
    margin: 1px 0 0;
}

table.fixed tr:first-child td {
    padding-top:68px;
}

table tr.primary {
    background: rgba(0,0,0,0.12);
}

table tr.success {
    background: rgb(36, 244, 159);
    color:#191919;
}

td i {
    font-size: 18px;
    padding: 0 8px 0 0;
    margin-top: 1px;
    float: left;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input, button, textarea, :focus {
    outline: none;
}

hr {
    border-color: #bbb;
}

input:disabled, input:disabled+label {
    opacity: 0.25;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"],
[type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
    margin:0;
}

.left {
    float: left;
}

.right {
    float:right;
}

.center {
    text-align: center;
}

.full {
    padding:0!important;
    margin:0!important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.hover {
    opacity: 0.88;
    transition: all 0.5s ease;
}

.hover.active {
    cursor: default;
}

.hover.active, .hover:hover {
    opacity:1;
}

.hover * {
    transition: all 0.2s ease;
    overflow:hidden;
    max-height:1024px;
}

.press:not(.active), .press:not(.active) * {
    cursor:pointer;
}

.row, .inline-row {
    width:100%;
}

.grid {
    padding: 4px 8px;
    box-sizing: border-box;
}

.button {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0.5rem 0.5rem 0.5rem 1px;
}

.form-error {
    color:#d66;
    margin: 2px 0;
}

.is-invalid-input:not(:focus) {
    background-color: rgba(236, 88, 64, 0.88);
    border-color: #ec5840;
    color:#fff;
}

.ui-resizable-handle {
    background-color: rgba(255,255,255,0.2);
    border: #121212 1px solid;
}

.ui-resizable-e, .ui-resizable-w {
    cursor: ew-resize;
}

.ui-resizable-n, .ui-resizable-s {
    cursor: ns-resize;
}

.x-resizable {
    position: absolute;
    height:100%;
}

.y-resizable {
    position: absolute;
    width:100%;
    height:50%;
}

.x-resizable:first-child .ui-resizable-w,
.x-resizable:last-of-type .ui-resizable-e,
.y-resizable:first-child .ui-resizable-n,
.y-resizable:last-of-type .ui-resizable-s {
    display: none!important;
}

#left, #right {
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    height: 100%;
}

#left { left: 0; }
#right { right: 0; }

#task form input[type=submit],
#account form input[type=submit] {
    float:right;
}

[type="checkbox"] + label {
    vertical-align: middle;
}

.reveal {
    left:12.5%;
    margin: 16px auto 0 auto;
    background-color:rgba(248,248,248,0.92);
}

.reveal label {
    color:#787870;
}

.field {
    margin-bottom: 4px;
}

.shipping-fields {
    max-height: 0;
    overflow: hidden;
    transition: all 0.12s ease-in-out;
    display:block;
}

.form-buttons {
    margin-top:100px;
}

.half {
    width:50%;
    float:left;
    box-sizing: border-box;
}

.half:nth-of-type(2n+1) {
    padding-right:4px;
    padding-left:0px;
}

.half:nth-of-type(2n) {
    padding-left:4px;
    padding-right:0px;
}

.third {
    width:33.33%;
    float:left;
    box-sizing: border-box;
    padding-left:4px;
    padding-right:4px;
}

.third:nth-of-type(3n+1) {
    padding-left:0px;
    padding-right:4px;
}

.third:nth-of-type(3n) {
    padding-right:0px;
    padding-left:4px;
}


.sixth {
    width:16.666%;
    float:left;
    box-sizing: border-box;
    padding-left:3px;
    padding-right:3px;
}

.sixth:nth-of-type(6n+6) {
    padding-left:3px;
    padding-right:0px;
}

.sixth:nth-of-type(6n+1) {
    padding-right:3px;
    padding-left: 0px;
}


.select2-selection__rendered {
    line-height: 34px!important;
}

.select2-selection--single {
    height: 36px!important;
}

@media (max-width: 1280px) {
    .reveal { left:6%; }
}

@media (max-width: 800px) {
    .reveal { left:4%; }
}