@font-face {
    font-family: 'Bebas';
    src: url('bebas___-webfont.woff2') format('woff2'),
         url('bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-light-webfont.woff2') format('woff2'),
         url('rubik-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-lightitalic-webfont.woff2') format('woff2'),
         url('rubik-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-regular-webfont.woff2') format('woff2'),
         url('rubik-regular-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-italic-webfont.woff2') format('woff2'),
         url('rubik-italic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-medium-webfont.woff2') format('woff2'),
         url('rubik-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-mediumitalic-webfont.woff2') format('woff2'),
         url('rubik-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-bold-webfont.woff2') format('woff2'),
         url('rubik-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-bolditalic-webfont.woff2') format('woff2'),
         url('rubik-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-black-webfont.woff2') format('woff2'),
         url('rubik-black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('rubik-blackitalic-webfont.woff2') format('woff2'),
         url('rubik-blackitalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
    
